modules = ["python-3.12"]
run = "pip install . && run"

[env]
PYTHONUNBUFFERED = "1"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "pip install . && run"]

[[ports]]
localPort = 8080
externalPort = 80
exposeLocalhost = true